.start-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.start-form {
  width: 100%;
  max-width: 360px;
}

.start-form .form-group {
  height: auto;
}

.required-asterisk {
  color: #c33;
}
